<div class="row well div-center-align">
    <div style="color: red;" class="text-center">{{errorMessage}}</div>
	<div class="form-group">
		<label for="username">User Name</label>
		<input type="text" [(ngModel)]="username" class="form-control" placeholder="Enter Username">
	</div>
	<div class="form-group">
		<label for="username">Phone Number</label>
		<input type="number" [(ngModel)]="phoneNumber" class="form-control" placeholder="Enter Password">
	</div>
	<div class="form-group">
		<label for="username">PassWord</label>
		<input type="PassWord" [(ngModel)]="password" class="form-control" placeholder="Enter Password">
	</div>
	<div class="form-group">
		<label for="username">Re-Enter PassWord</label>
		<input type="PassWord" [(ngModel)]="repassword" class="form-control" placeholder="Enter Password">
	</div>
	<div class="form-group">
		<button class="btn btn-success form-control">Sign Up</button>
	</div>
</div>
