
<div class="list-group table-of-contents">
  <a class="list-group-item" routerLink="users">Users</a>
  <a class="list-group-item" routerLink="about">Buttons</a>
  <a class="list-group-item" routerLink="">Typography</a>
  <a class="list-group-item" routerLink="">Tables</a>
  <a class="list-group-item" routerLink="">Forms</a>
  <a class="list-group-item" routerLink="">Navs</a>
  <a class="list-group-item" routerLink="">Indicators</a>
  <a class="list-group-item" routerLink="">Progress bars</a>
  <a class="list-group-item" routerLink="">Containers</a>
  <a class="list-group-item" routerLink="">Dialogs</a>
</div>
